/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body{
    color: white;
    background-image: url("../survey-form/images/bg.jpg");
    font-family: 'Poppins', sans-serif;
    height: auto;
    font-size: 1.2vw;
}

h1, p{
    text-align: center;
}

label{
    display: block;
}

.main{
    padding: 0% 20% 0% 20%;

}

.survey-form{
    background-color: #2222425d;
    padding: 3rem 2.5rem;
    border-radius: 7px;
}

select{
    width: 100%;
}

.personal-info input{
    width: 100%;
}

.apply{
    margin-left: 0.99rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}

option{
    font-size: 1.0vw;
}


textarea{
    width: 100%;
}

.submit-button{
    display: flex;
    justify-content: center;
}

input[type="submit"]{
    height: 50px;  
    width: 60%;
    background-color: #54b2bb;
    color: white;
    border: none;
    font-size: 1.1em;
}

.optional{
    font-size: 1.0vw;
}