

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body{
    color: white;
    background-image: url("../survey-form/images/bg.jpg");
    font-family: 'Poppins', sans-serif;
    height: auto;
    font-size: 1.2vw;
}

h1, p{
    text-align: center;
}

label{
    display: block;
}

.main{
    padding: 0% 20% 0% 20%;

}

.survey-form{
    background-color: #2222425d;
    padding: 3rem 2.5rem;
    border-radius: 7px;
}